@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 5px;
}
/* @media screen and (min-width: 350px) {
  html {
    font-size: 5px;
  }
} */
@media screen and (min-width: 500px) {
  html {
    font-size: 8px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 10px;
  }
}
/* @media screen and (min-width: 1240px) {
  html {
    font-size: 12px;
  }
} */
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #0b5160;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  /* width: 80%; */
  width: 100%;
  height: 12vmin;
  background: rgb(0, 1, 6, 0.6);
  backdrop-filter: blur(2px);
  /* background: transparent; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* box-shadow: 4px 6px 20px 0 #000; */
  /* top: 2vmin; */
  left: 0;
  top: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  padding: 0 5vmax;
  /* border-radius: 20px; */
  /* border-bottom-left-radius: 20px; */
  z-index: 100;
  /* border-bottom-right-radius: 20px; */
}
.mobile-header {
  position: fixed;
  right: 4vmin;
  top: 2vmin;
  height: 14vmin;
  width: 14vmin;
  border-radius: 50%;
  display: none;
  z-index: 100;
  background: #000106;
  align-items: center;
  justify-content: center;
  display: none;
}
.icon.icon-header {
  position: absolute;
  font-size: 6rem !important;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mobile-header + .mobile-header i:not(:first-child) {
  display: none;
}
#mobile-header + .mobile-header i:first-child {
  display: block;
}
#mobile-header:checked + .mobile-header i:not(:first-child) {
  display: block;
}
#mobile-header:checked + .mobile-header i:first-child {
  display: none;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  position: absolute;
  top: 120%;
  left: 50%;
  border-radius: 4px;
  background-color: #000106;
  height: 25vmin;
  transform-origin: 0% -30%;
  width: 20vmin;
  transform: scale(0) translateX(-50%);
  transition: all 0.5s ease;
  border-radius: 10px;
  z-index: -1;
  /* padding-top: 5vmin; */
  /* clip-path: polygon(
    0 20%,
    35% 20%,
    50% 0,
    65% 20%,
    100% 20%,
    100% 100%,
    0 100%
  ); */
  /* opacity: 0; */
}
.mobile-nav::after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  z-index: -1;
  transition: all 0.5s ease;
  border: 0;
}
#mobile-header + .mobile-header .mobile-nav a {
  display: none;
}
#mobile-header:checked + .mobile-header .mobile-nav {
  /* display: flex; */
  transform: scale(1) translateX(-50%);
}
#mobile-header:checked + .mobile-header .mobile-nav::after {
  /* display: flex; */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
}
#mobile-header:checked + .mobile-header .mobile-nav a {
  display: block;
}
@media screen and (max-width: 500px) {
  .header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
}
.para.imp {
  font-weight: bolder;
  font-size: 1.2rem !important;
  margin-top: 1vmin;
}
.logo {
  height: 98%;
  display: flex;
  align-items: center;
  /* gap: 2vmin; */
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  font-weight: 200;
  font-size: 2.4rem;
  color: #fff;
}
.logo img {
  height: 180%;
  margin-top: 6%;
}
nav {
  display: flex;
  justify-content: center;
  gap: 4vmin;
  align-items: center;
}
.header-link {
  color: #fff;
  /* text-decoration: underline; */
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Mulish", sans-serif;
  /* text-underline-offset: 2px; */
}
.section {
  padding: 8vmin 6vmax 20vmin;
}
.section:nth-of-type(odd) {
  /* background: #03989E; */

  background: linear-gradient(to right bottom, #14b9bf, #5ce5eb);
}
.section:nth-of-type(even) .point-icon {
  background: #14b9bf !important;
}
/* .section:nth-of-type(odd) .index {
  color: rgb(200, 200, 202, 0.1);
} */
.section:nth-of-type(odd) p,
.section:nth-of-type(odd) h1,
.section:nth-of-type(odd) h2,
.section:nth-of-type(odd) h3,
.section:nth-of-type(odd) h4 {
  color: #000106;
}
/* .section:nth-of-type(odd) .icon {
  color: #c8c8ca !important;
} */
#order-checkbox:checked ~ .modal {
  display: flex;
}
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  top: 0;
  align-items: center;
  justify-content: center;
  left: 0;
  z-index: 100000;
  display: none;
}
.modal-content {
  padding: 4vmin;
  border-radius: 6px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vmin;
}
.modal-heading {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 6rem;
  color: #03989e;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 5vmin;
  text-decoration-thickness: 15px;
  text-decoration-color: #03989e;
}
.modal-content .input {
  background: #000106;
  color: #fff;
}
.hero-section {
  width: 100%;
  padding-top: 14vmin;
  height: 100vmin;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  /* background: url("./background-video.mp4"); */
}
/* @media */
.section-clipped {
  clip-path: polygon(0% 0, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  /* background: #03989E; */

  /* background: linear-gradient(to left bottom,#14b9bf, #5ce5eb); */
  /* padding-bottom: 20vmin; */
}
.hero-background {
  width: auto;
  height: 100%;
  /* object-fit: cover; */
  /* min-height: 100vmin; */
  position: absolute;
  top: 0;
  left: -20vmin;
  animation: scale 2.5s ease forwards;
}
@media screen and (min-width: 1200px) {
  .hero-background {
    width: 100%;
    height: auto;
  }
  .hero-section {
    height: 110vmin;
  }
}
@media screen and (max-width: 500px) {
  .section-clipped#why {
    padding-bottom: 50vmin;
  }
}
@media screen and (min-width: 1000px) {
  .hero-background {
    left: 0;
  }
}
.hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.45;
  top: 0;
  left: 0;
  background: linear-gradient(
    108.35deg,
    rgba(68, 8, 89, 1) 0%,
    rgba(54, 28, 70, 1) 0.01%,
    rgba(115, 139, 176, 1) 79.57%
  );
}
.hero-cta-section {
  display: flex;
  padding-top: 6vmin;
  flex-direction: column;
  z-index: 10;
  gap: 10vmin;
  flex: 1;
  opacity: 0;
  animation: moveIn 2s ease 1.8s forwards;
}
.hero-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 10rem;
  text-transform: capitalize;
  line-height: 14.6rem;
  opacity: 1;
  color: #fff !important;
}
.hero-cta {
  background: transparent;
  border-radius: 4px;
  border: none;
  width: 15vmax;
  height: 6vmin;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  border: 2px solid #03989e;
  color: #fff;
}
.hero-cta.first {
  /* background: #03989E; */

  background: linear-gradient(to right bottom, #14b9bf, #5ce5eb);
  /* background: linear-gradient(to left bottom,#14b9bf, #5ce5eb); */
  border: none;
  color: #fff !important;
}
.section-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.9rem;
  text-align: center;
  /* text-decoration-line: underline; */
  color: #fff;
  text-transform: capitalize;
  text-underline-offset: 3px;
  margin-bottom: 6vmin;
  text-decoration-thickness: 2px;
}
.para {
  font-family: "Mulish";
  /* font-style: normal; */
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 163.15%;
  /* letter-spacing: 0.2ch; */
  color: #fbf9ff;
  text-align: center;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vmin;
  flex-wrap: wrap;
  gap: 8vmax;
  /* row-gap: 8vmin; */
}
.point-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.5vmin;
  position: relative;
}
.index {
  font-family: "Mulish";
  position: absolute;
  left: 20%;
  height: 4vmin;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 4vmin;
  top: 0;
  font-style: normal;
  font-weight: 900;
  background: #0c0b0e;
  border-radius: 50%;
  font-size: 1.2rem;
  z-index: 0;
  line-height: 100%;
  text-transform: capitalize;
  color: #fff;
}
.icon {
  color: #0b5160;
  font-size: 2.5rem !important;
}
.point-icon {
  height: 15vmin;
  width: 15vmin;
  background: #0b5160;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.point-icon .icon {
  color: #fff;
  font-size: 3rem !important;
}
.card-heading {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1em;
  /* text-decoration-line: underline; */
  text-transform: uppercase;
  color: #fff;
}
.point-info {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 163.15%;
  color: #fff;
  width: 20vmax;
}
.problem {
  background: #0b5160;
  border-radius: 20px;
  /* flex: 1; */
  width: 23vmax;
  height: 10vmin;
  font-family: "Mulish";
  font-style: normal;
  /* text-align: center; */
  font-weight: 1000;
  font-size: 1.6rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.plan-card {
  /* background: #03989E; */

  background: linear-gradient(to right bottom, #14b9bf, #5ce5eb);
  border-radius: 10px;
  width: 22vmax;
  padding: 4vmin;
  min-height: 40vmin;
}
.plan-card > * {
  color: #fff !important;
}
/* .plan-card.main {
  height: 50vmin;
} */
.link-cta {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 150.2%;
  cursor: pointer;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #0c0b0e;
}
.plan-price {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 5rem;
  text-align: start;
  letter-spacing: 0.1em;
  color: #fff;
}
.plan-unit {
  font-weight: 1000;
  font-size: 1.2rem;
}
.plan-heading {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 1000;
  font-size: 1.4rem;
  line-height: 23px;
  text-align: start;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.blueprint-images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10vmin;
}
.image-caption {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 1000;
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: start;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000106;
}
.blueprint-image {
  width: 33vmax;
}
.front-image {
  height: 100%;
}
.side-image {
  height: 22vmin;
}
.side-images {
  display: flex;
  gap: 4vmin;
  flex-direction: column;
  justify-content: space-between;
}
.section-enquiry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vmin;
}
.enquiry-heading {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 6rem;
  color: #000106;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 5vmin;
  text-decoration-thickness: 15px;
  text-decoration-color: rgba(255, 255, 255, 0.8);
}
.input {
  border: 0;
  width: 100%;
  outline: 0;
  background: #ffffff;
  /* border: 2px solid #6d7d8b; */
  border-radius: 4px;
  padding: 2vmin 1vmax;
  /* margin: 4vmin 0; */
}
.footer {
  background: #25313c;
  display: flex;
  padding: 4vmin 4vmax;
  justify-content: space-between;
}
.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3vmin;
}
.footer-link {
  font-family: "Mulish";
  font-style: normal;
  display: flex;
  gap: 1vmax;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 2.9rem;
  color: #ffffff !important;
}
.footer-link i {
  color: #ffffff !important;
}
.footer-logo {
  /* font-family: "Yellowtail", cursive; */
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  color: #fff;
}
.footer-heading {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: start;
  color: #ffffff;
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
